@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#100d1f];
  }
}

/* .text-shadow {
  text-shadow: 1.2px 1.2px 0 #7136bc, -1.2px -1.2px 0 #7136bc, 1.2px -1.2px 0 #7136bc,
    -1.2px 1.2px 0 #7136bc, 1.2px 1.2px 0 #7136bc;
} */

.text-shadow {
  text-shadow: 0.5px 0.5px 0 #7136bc, 0.5px -0.5px 0 #e97aeb,
    -0.5px -0.5px 0 #e7c4e8, -0.5px 0.5px 0 #7136bc, 0.5px 0.5px 0 #e97aeb;
}
.outer-border {
  --gradient-color: linear-gradient(to right, #5e0616, #da00b7);
  border: 1px solid transparent; /* Set the border to transparent */
  border-image: var(--gradient-color) 1; /* Apply the gradient color as the border image */
  border-image-slice: 1; /* Define how the border image should be sliced */
}
@keyframes slideAnimation {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.arrow img {
  animation: slideAnimation 0.5s ease forwards;
}
/* 
.button-style {
  background: none;
  border: 2px solid #DA00B7;
  border-radius: 50%;
  padding: 10px;
  color: #DA00B7;
  transition: all 0.3s ease; 
}

.button-style:hover {
  background: linear-gradient(to right, #5E0616, #DA00B7);
  color: #100D1F;
  border: 2px solid transparent;
  border-radius: 50%;
}

.button-style:focus {
  outline: none;
}

.icon {
  font-size: 20px;
} */
/* @layer base {
  :root {
    --primary: #100d1f;
    --secondary: #e406b5;
    --muted: #ff99a2;
  }
} */

/* .alumni-sans {
  font-family: "Alumni Sans", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
} */
/* @layer base {
  body {
    @apply w-full min-h-screen flex flex-col;
  }
} */

/* font-family: "Alumni Sans", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
